<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja De Vida</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/49a8e0d560.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contenedor">
        <!--BORDES-->
        <div class="barrasuperior"></div>
        <div class="barraderecha"></div>
        <div class="barrainferior"></div>
        <!--PARTE SUPERIOR-->
            <header class="header">

                <img class="foto marginizquierdo" src="IMG_20210703_171414.jpg">

                <div class="exterNombre">

                    <div class="borderizquierdo">
                        <h1 class="nombre"><span style="font-weight: bold;">OMAR</span> FANDIÑO</h1>
                        <h3 class="profesion">DESARROLLADOR WEB</h3> 
                    </div>     

                </div>

            </header>
        <!--PARTE SUBPERIOR-->
            <section class="subperior borderinferior">
                <section class="contacto marginizquierdo">
                    <h3 class="sub">CONTACTO</h3>
                    <div class="divFlex paddingSub">
                        <i class="fa-solid fa-mobile-screen-button icon"></i>
                        <div>
                            <h5 class="marginText texto">Télefono</h5>
                            <h5 class="marginTextDown texto">3024023521</h5>
                        </div>
                    </div>
                    <div class="divFlex">
                        <i class="fa-solid fa-envelope icon"></i>
                        <div>
                            <h5 class="marginText texto">Email</h5>
                            <h5 class="marginTextDown texto">omarfandinoya@unimagdalena.edu.co</h5>
                        </div>
                    </div>
                </section>
                <section class="marginizquierdo">
                    <h3 class="perfil sub">PERFIL</h3>
                    <h5 class="text1 texto borderizquierdo marginborderizquierdo">Soy un estudiante de ingeniería de sistemas de <br>la Universidad Del Magdalena dedicado a superarse<br> cada día más, apasionado por los videojuegos, el<br> desarrollo web y el pensamiento sistémico.</h5>
                </section>
            </section>
            <!--CONTENEDOR2-->
            <!--IZQUIERDA Y DERECHA-->
            <section class="cuerpo">
                <section class="izqui">
                    <section class="rsociales marginizquierdo borderinferior">
                        <h3 class="sub">REDES SOCIALES</h3>
                        <div class="divFlex paddingSub">
                            <i class="fa-brands fa-facebook-f icon"></i>
                            <div>
                                <h5 class="marginText texto">Facebook</h5>
                                <h5 class="marginTextDown texto">@OmarFandino</h5>
                            </div>
                        </div>
                        <div class="divFlex">
                            <i class="fa-brands fa-twitter icon"></i>
                            <div>
                                <h5 class="marginText texto">Twitter</h5>
                                <h5 class="marginTextDown texto">@OmarFandino</h5>
                            </div>
                        
                        </div>
                        <div class="divFlex">
                            <i class="fa-brands fa-instagram icon"></i>
                            <div>
                                <h5 class="marginText texto">Instagram</h5>
                                <h5 class="marginTextDown texto">@fandinoomar</h5>
                            </div>
                        </div>
                        
                    </section>
                    <section class="idiomas marginizquierdo borderinferior">
                        <h3 class="sub">IDIOMAS</h3>
                        <h4 class="sub2 ubicacion2">INGLÉS</h4>
                        <h4 class="sub3 com">ENTIENDO</h4>
                        <h4 class="sub2 ubicacion2">ESPAÑOL</h4>
                        <h4 class="sub3 com">NATIVO</h4>
                        <h4 class="sub2 ubicacion2">ITALIANO</h4>
                        <h4 class="sub3 com">NADA</h4>
                        <h4 class="sub2 ubicacion2">MANDARÍN</h4>
                        <h4 class="sub3 com">NADA</h4>
                    </section>
                    <section class="habilidades marginizquierdo">
                        <h3 class="sub">HABILIDADES</h3>
                        <div>
                            <h4 class="sub2 ubicacion3">DISEÑO</h4>
                            <div>
                                <div class="barra"><div class="barraInterna uno"></div></div>
                            </div>
                        </div>
                        <div>
                            <h4 class="sub2 ubicacion3">PROGRAMACIÓN</h4>
                            <div>
                                <div class="barra"><div class="barraInterna dos"> </div></div>

                            </div>
                        </div>
                        <div>
                            <h4 class="sub2 ubicacion3">DIBUJO</h4>
                            <div>
                                <div class="barra"><div class="barraInterna tres"></div></div>
                            </div>
                        </div>
                    </section>
                </section>

                <section class="dere">
                    <section>
                        <section class="explab borderizquierdo">
                        <h3 class="sub">EXPERIENCIA LABORAL</h3>
                        <h4 class="sub2 ubicacion">JOB POSITION</h4>
                        <h4 class="sub3 com">COMPANY NAME 2020|2021</h4>
                        <h5 class="texto com">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima exercitationem tempora commodi.</h5>
                        <h4 class="sub2 ubicacion">JOB POSITION</h4>
                        <h4 class="sub3 com">COMPANY NAME 2020|2021</h4>
                        <h5 class="texto com">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima exercitationem tempora commodi.</h5>
                        <h4 class="sub2 ubicacion">JOB POSITION</h4>
                        <h4 class="sub3 com">COMPANY NAME 2020|2021</h4>
                        <h5 class="paddingTextExp texto borderinferior">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima exercitationem tempora commodi.</h5>
                    </section>
                    </section>
                    <section class="formaca borderizquierdo">
                        <h3 class="sub">FORMACIÓN ACADÉMICA</h3>
                        <h4 class="sub2 ubicacion">CARRERA PROFESIONAL</h4>
                        <h4 class="sub3 com">UNIVERSIDAD DEL MAGDALENA 2018|2022</h4>
                        <h5 class="texto com">Actualmente estoy cursando noveno semestre de ingeniería de sistemas en la Universidad Del Magdalena.</h5>
                        <h4 class="sub2 ubicacion">BACHILLERATO</h4>
                        <h4 class="sub3 com">JOSÉ BENITO BARROS PALOMINO 2012|2017</h4>
                        <h5 class="texto com">En el colegio José Benito Barros Palomino cursé todos los grados del bachillerato.</h5>
                        <h4 class="sub2 ubicacion">PRIMARIA</h4>
                        <h4 class="sub3 com">JOSÉ BENITO BARROS PALOMINO 2006|2011</h4>
                        <h5 class="texto com">En el colegio José Benito Barros Palomino cursé todos los grados de la primaria.</h5>
                    </section>
                </section>
            </section>
    </div>
</body>
</html>