@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/*=== colores ===*/
:root{
    --colorMordado: #243F92;
    --colorMordadoOscuro: #29337d;
    --colorNaranja: rgb(255, 149, 0);
    --colorNaranjaOscuro: #ea5721;
}
/*=== Fuente y Tipografia ===*/
:root{
    --body-font:'Quicksand', sans-serif;
    --big-font-size: 2rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.875rem;
}
@media screen and (min-width: 768px){
    :root{
        --big-fonr-size: 2.5rem;
        --normal-font-size: 1rem;
    }
}
/*=== Base ===*/
*,::before, ::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}
h1{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
/*=== FORM ===*/
.l-form{
    background: var(--colorMordadoOscuro);
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/*=== Form ===*/
.form{
    width: 90%;
    height: 65%;
    border-radius: 30px;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
}
.form_content{
    width: 290px;
}
.form_img{
    width: 100px;
}

.form-name-last{
    display: flex;
    gap: 0rem;
}

.container-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_title{
    color: var(--colorMordadoOscuro);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-weight: bolder;
}
.form_div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin-bottom: 1rem;
    padding: .25rem 0;
    border-bottom: 1px solid var(--colorMordadoOscuro);
}
/*=== Div focus ===*/
.form_div.focus{
    border-bottom: 1px solid var(--colorMordado);
}
.form_div-one{
    margin-bottom: 1rem;
}
.form_icon{
    font-size: 1.5rem;
    color: var(--colorMordadoOscuro);
    transition: .3s;
}
/*=== icon focus ===*/
.form_div.focus .form_icon{
    color: var(--colorNaranja);
}
.form_label{
    display: block;
    position: absolute;
    left: .75rem;
    top: .25rem;
    font-size: var(--normal-font-size);
    color: var(--colorMordadoOscuro);
    transition: .3s;
}
/*=== label focus ===*/
.form_div.focus .form_label{
    top: -1.5rem;
    font-size: .875rem;
    color: var(--colorNaranja);
}
.form_div-input{
    position: relative;
}


.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: .5rem .75rem;
    font-size: 1.2rem;
    color: var(--colorMordado);
    transition: .3s;
}
.form_forgot{
    display: block;
    text-align: right;
    margin-bottom: 1rem;
    font-size: var(--normal-font-size);
    color: var(--colorMordadoOscuro);
    font-weight: 500;
    transition: .5;
}
.form_forgot:hover{
    color: var(--colorNaranja);
    transition: .3s;
}
.form_button{
    width: 100%;
    padding: 1rem;
    font-size: var(--normal-font-size);
    outline: none;
    border: none;
    margin-bottom: .5rem;
    background-color: var(--colorNaranja);
    border-radius: .5rem;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    /*transition: .3s;*/
}
.form_button:hover{
    background-color: #ffa600;
}
/*=== Form social ===*/
.form_social{
    text-align: center;
}
.form_social-text{
    display: block;
    font-size: var(--normal-font-size);
    margin-bottom: 0.3rem;
    color: var(--colorMordadoOscuro);
}

.form_social-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    padding: .5rem;
    background-color: var(--colorMordadoOscuro);
    color: white;
    font-size: 1.25rem;
    border-radius: 30%;
}
.form_social-icon:hover{
    background-color: var(--colorMordado);
}

.create-account span{
    color: white;
    font-weight: 700;
}

.create-account a{
    color: cyan;
}

/*=== MEDIA QUERIS ===*/
@media screen and (min-width: 968px){
    .form{
        grid-template-columns: 1.5fr 1fr;
        padding: 0 2rem;
        width: 80%;
        height: 80%;
    }

    .form_content{
        width: 320px;
    }

    .form_title{
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .form_img{
        display: block;
        width: 350px;
        justify-self: center;
    }

    .form_social-text{
        margin-bottom: 1rem;
    }

    .form_button{
        margin-bottom: 3rem;
    }

    .form_forgot{
        margin-bottom: 2rem;
    }

    .form_div-one{
        margin-bottom: 2rem;
    }
}

@media screen and (max-height: 750px){
    .form_img{
        display: none;
        width: 350px;
        justify-self: center;
    }

    .form{
        width: 90%;
        height: 70%;
    }

    .form_title{
        font-size: 2rem;
    }
}
