@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root{
    /*COLORES*/
    --colorMorado: #243F92;
    --colorMoradoOscuro: #29337d;
    --colorMoradoLight: #f0f0f7;
    --colorNaranja: #ff9500;
    --colorNaranjaOscuro: #ea5721;

    /*TANSICIONES*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: rgb(243, 229, 252);
}

/*HEADER DE PAGINA*/

.header{
    background-color: white;
    height: 90px;
    width: 100%;
    box-shadow: 0px -5px 80px -29px rgba(0,0,0,1);
    top: 0;
    position: fixed;
}

.container-header{
    display: flex;
    justify-content: center;
}

.contenido-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1280px;
}

.header a{
    text-decoration: none;
    font-weight: 500;
    color: var(--colorMoradoOscuro);
}

.logoHead{
    height: 25px;
    padding-left: 20px;
    padding-right: 5px;
}

.textLogoHead{
    height: 30px;
    padding-right: 25px;
}

.head-izq{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.logo-opciones{
    display: flex;
    align-items: center;
}

.contenedor-barra{
    background-color: rgb(231, 231, 231) ;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    width: 500px;
}

.barra-buscar{
    width: 90%;
    background-color: rgb(231, 231, 231);
    border: 0px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    height: 35px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.barra-buscar:focus{
    outline: 1px solid var(--colorMoradoOscuro);
}

.boton-buscar{
    margin-left: 1px;
    height: 35px;
    width: 50px;
    background: rgb(231, 231, 231);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-search{
    height: 19px;
    border-left: 1.5px solid black;
    margin-right: 10px;
    padding-left: 9px;
    filter: invert(76%) sepia(4%) saturate(3%) hue-rotate(350deg) brightness(92%) contrast(85%);
}

.posicion-ad{
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--colorNaranja);
    height: 17px;
}

.anuncio{
    max-width: 1280px;
    color: white;
    font-style: italic;
    font-size: 80%;
    font-weight: bold;
}

.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

    .navegacion ul li{
        display: inline-block;
    }

        .navegacion ul li a{
            display: block;
            padding: 10px;
        }

.bold-text:hover{
   font-weight: bolder;
}

#user{
    fill: #29337d;
    margin-right: 20px;
    height: 19px;
    width: 19px;
    padding: 3px;
}
.car{
    height: 18px;
    padding: 18px;
    filter: brightness(0) saturate(100%) invert(18%) sepia(21%) saturate(4125%) hue-rotate(211deg) brightness(98%) contrast(94%);
}

.icon-Ham{
    height: 15px;
    margin-left: 25px;
    padding-right: 10px;
}

/* CUERPO DE PAGINA */

.cuerpo{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 117px;
    width: 100%;
}

.contenedor-cuerpo{
    max-width: 1280px;
}

.cuerpo-subtitle{
    font-size: 20px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: rgb(95, 82, 95);
}

.cuerpo-grid{
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    gap: 4rem;
}

.cuerpo-grid a{
    text-decoration: none;
}

.contenedor-cuerpo-grid{
    padding-right: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.cont-producto{
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 18rem;
    width: 13rem;
    transition: var(--tran-02);
}

    .cont-producto:hover{
        box-shadow: 0px 11px 32px -10px rgba(0,0,0,0.5);
    }

    .cont-producto:hover .contenedor-favorite i{
        color: var(--colorMoradoOscuro);
    }

    .cont-producto:hover .contenedor-photo{
        height: 12rem;
    }

    .cont-producto:hover .producto-img{
        height: 7rem;
    }

.contenedor-photo{
    height: 11rem;
    border-bottom: 1px solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--tran-02);
}

.contenedor-favorite{
    height: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.icon-favorite{
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    color: white;
}

.producto-img{
    height: 6rem;
    transition: var(--tran-02);
}

.contenedor-info-producto{
    padding-left: 20px;
    padding-top: 10px;
}

.contenedor-price{
    font-family: sans-serif;
    font-size: 18px;
    color: var(--colorMoradoOscuro);
}

.contenedor-title{
    color: black;
}

.contenedor-cuerpo-banner{
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.contenedor-banner{
    background: white;
    border-radius: 10px;
    width: 1120px;
    height: 420px;
    max-width: 1220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .contenedor-banner:hover{
        box-shadow: 0px 11px 32px -10px rgba(0,0,0,0.5);
    }

.img-banner{
    border-radius: 10px;
    width: 1120px;
}

.grid-secciones{
    display: grid;
    grid-template-columns: repeat(2, 515px);
    column-gap: 4rem;
    row-gap: 3rem;
}

    .grid-secciones a{
        text-decoration: none;
    }

.contenedor-grid-secciones{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.contenedor-seccion{
    background: white;
    border-radius: 10px;
    width: 515px;
    height:200px;
    max-width: 1220px;
    display: flex;
}

    .contenedor-seccion:hover{
        box-shadow: 0px 11px 32px -10px rgba(0,0,0,0.5);
    }

.img-seccion{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-seccion{
    height: 150px;
}
.titulo-seccion{
    color: rgb(80, 80, 80);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    height: 100px;
}

.descripcion-seccion{
    color: gray;
    font-size: 20px;
    font-weight: 500;
}

/* PIE DE PAGINA */

.footer{
    background: white;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.footer-title-main{
    color: var(--colorMoradoOscuro);
    font-weight: 500;
    font-size: 11px;
}

.icon-heart-footer{
    color: var(--colorMoradoOscuro);
    padding-top: 1px;
    padding-left: 3px;
}

.footer-contenedor{
    width: 100%;
    max-width: 1280px;
}

.footer-contenido{
    padding-top: 20px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*IZQUIERDA*/
.footer-left{
    height: 165px;
    width: 30%;
}

.footer-subtitle{
    color: var(--colorMoradoOscuro);
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
}

.footer a{
    text-decoration: none;
}

.footer-text{
    color: var(--colorMoradoOscuro);
    font-weight: 600;
    font-size: 12px;
    padding: 1px;
    margin: 0;
}

.footer-text:hover{
    color: var(--colorNaranja);
}

.footer-top{
    margin-left: 30%;
    height: 50%;
}

.footer-bottom{
    margin-left: 30%;
    height: 50%;
}

/*CENTRO*/
.footer-logo-contenedor{
    background-color: white;
    height: 50px;
    width: 50px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.footer-redes-contenedor{
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
}

.footer-center-up{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-center-down{
    display: flex;
    justify-content: center;
}

.icon-footer{
    padding: 5px;
    height: 40px;
    color: var(--colorMoradoOscuro);
}

.footer-logo{
    height: 35px;
    padding: 10px;
}

.footer-center{
    height: 165px;
    width: 30%;
}

.footer-copyright-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
}

.footer-copyright{
    color: var(--colorMoradoOscuro);
    font-size: 11px;
    font-family: sans-serif;
}
/*DERECHA*/
.footer-right{
    height: 165px;
    width: 30%;
}


/* MENÚ HAMBURGUESA CSS */

.bar-menu .text{
    font-size: 16px;
    font-weight: 500;
    transition: var(--tran-03);
    white-space: nowrap;
}

.bar-menu .bar-logo{
    min-width: 50px;
    display: flex;
    align-items: center;
}

/*MENÚ HAMBURGUESA*/

.bar-menu{
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    background: white;
    padding: 20px 14px;
    position: fixed;
    z-index: 100;
    transition: var(--tran-03);
    box-shadow: 0px 0px 50px -10px rgb(0, 0, 0);
}

.bar-menu.close{
    width:30px;
    background: none;
    box-shadow: none;
}

.bar-menu.close .text,
.bar-menu.close .bar-logo-text,
.bar-menu.close .bar-options .op-icon,
.bar-menu.close .bar-options a,
.bar-menu.close .bar-options,
.bar-menu.close .name,
.bar-menu.close .rol{
    font-size: 0;
    opacity: 0;
    width: 0;
}

.bar-menu li{
    height: 50px;
    margin-top: 2px;
    list-style: none;
    display: flex;
    align-items: center;
}

.bar-menu li .op-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.bar-menu li .op-icon,
.bar-menu li .text{
    color: gray;
}

.bar-menu header{
    margin-bottom: 20px;
    position: relative;
}

.bar-menu .bar-logo-text img{
    height: 30px;
    width: 30px;
    border: 2px solid var(--colorMoradoOscuro);
    border-radius: 50%;
    padding: 3px;
}

.bar-menu header .bar-logo-text{
    display: flex;
    align-items: center;
    transition: var(--tran-03);
}

.bar-menu header .bar-logo-text .bar-text{
    display: flex;
    flex-direction: column;
}

.bar-text .name{
    font-weight: 700;
}

.bar-text .rol{
    font-size: 13px;
}

.bar-menu header .bar-toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background: white;
    padding: 4px;
}

.bar-menu .bar-search{
    background-color: var(--colorMoradoLight);
    border-radius: 50px;
    width: 100%;
    height: 40px;
}

.bar-search input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: var(--colorMoradoLight);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.bar-menu li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-02);
}

    .bar-menu li a:hover{
        background: var(--colorMoradoOscuro);
    }

    .bar-menu li a:hover .text,
    .bar-menu li a:hover .op-icon{
        color: white;
    }

    .bar-menu .bar-options{
        height: calc(100% - 110px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: var(--tran-03);
    }

/* MEDIA */

@media screen and (max-width: 1400px){
    /*HEADER*/
    .logo-opciones{
        padding-left: 5%;
    }
}

@media screen and (max-width: 1100px){
    /*HEADER*/
    .logo-opciones{
        padding-left: 7%;
    }
    /*CUERPO*/
    .contenedor-cuerpo-banner{
        display: none;
    }

    .cuerpo-grid{
        grid-template-columns: repeat(4, 10rem);
    }

    .grid-secciones{
        grid-template-columns: repeat(1, 515px)
    }
}

@media screen and (max-width: 900px){
    /*HEADER*/
    .logo-opciones{
        padding-left: 10%;
    }
    .cuerpo-grid{
        grid-template-columns: repeat(3, 10rem);
    }
}

@media screen and (max-width: 750px){
    /*HEAD*/
    .logo-opciones{
        padding-left: 12%;
        padding-right: 5%;
    }

    .header{
        zoom: 1;
    }

    .head-opciones{
        display: none;
    }

    .head-izq{
        width: 70%;
    }

    .posicion-ad{
        zoom: 1.1;
    }

    /*BAR*/
    .bar-menu{
        zoom: 1;
        width: 350px;
    }

    /*CUERPO*/
    .cuerpo-subtitle{
        font-size: 25px;
    }
    .cuerpo-grid{
        grid-template-columns: repeat(2, 11rem);
    }
    /*FOOTER*/
    .footer{
        zoom: .6;
    }
}

@media screen and (max-width: 550px){
    /*HEADER*/
    .header{
        zoom: 1;
    }
    .logo-opciones{
        padding-left: 20%;
    }
    .textLogoHead{
        display: none;
    }
    /*BAR*/
    .bar-menu{
        width: 250px;
        zoom: 1;
    }
    /*CUERPO*/
    .cuerpo-subtitle{
        font-size: 30px;
    }

    .cuerpo{
        zoom: .7;
    }
    /*FOOTER*/
    .footer{
        zoom: .8;
    }

    .footer-contenido{
        justify-content: center;
    }

    .footer-copyright-contenedor{
        justify-content: flex-start;
        padding-left: 21%;
    }

    .footer-left{
        display: none;
    }
}
