<!DOCTYPE html>
<html >
<head>
   
    <title>Hoja de vida</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <div class="hoja"> 
        <!--esta es la parte de arriba-->
        <section class="nom">
            <img class="foto" src="perfil.jpg" alt="Foto de Perfil"/>
            <div class="manejodatos">
                <div class="bord1"> 
                    <h1 class="nombre"> <span class="b"> ISAAC</span> MEJIA </h1>
                    <p class="carrera "> INGENIERO EN SISTEMAS </p>
                </div>         
             </div>
        </section>  
        <section class="nom2 bordeinf">
            <section class="bordeiz cont">
                <h3 class="fuenteTitulo " >CONTACTO</h3>
                <P class=" fuenteTexto "> Telefono <br> 3123343486</P> 
                <p class=" fuenteTexto "> Email<br>isamejiam2001@gmail.com </P>
            </section>
            <section class="infoperfil bordeiz ">
                <h3 class=" fuenteTitulo perf">PERFIL</h3>
                     <p class="fuenteTexto bord1 textoperf"> Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Illum ullam,  alias non officiis, facilis dolore tempore error,</p>
            </section>
        </section>   
        <section class="abajo">
            <section class="izq ">
                <section class="bordeiz bordeinf espaciomedio">
                    <h3 class="fuenteTitulo ">REDES SOCIALES</h3>
                       <P class=" fuenteTexto ">Facebook: <br> @Isaacfacebook</P>
                       <p class=" fuenteTexto ">Twitter <br> @Isaactwitter</p>
                       <p class=" fuenteTexto ">Instagram <br> @Isaacmejia</p>
                </section>
                <section class="bordeiz bordeinf espaciomedio">
                    <h3 class="fuenteTitulo ">IDIOMAS </h3>
                    <P class=" fuenteTexto ">ENGLISH <br>NADA</P>
                    <P class=" fuenteTexto ">SPANISH <br>NATIVO</P>
                    <P class=" fuenteTexto ">ITALIAN <br>NADA</P>
                    <P class=" fuenteTexto ">MANDARIN <br>NADA</P>
                </section>
                <section class="bordeiz espaciomedio ">
                    <h3 class="fuenteTitulo ">HABILIDADES</h3>
                    <p class=" fuenteTexto ">DRAWING</p>
                    <p class=" fuenteTexto ">PHOTO</p>
                    <p class=" fuenteTexto ">COPYWRITE</p>
                    <p class=" fuenteTexto ">COMPUTERIZE</p>
                    <p class=" fuenteTexto ">DESIGN</p>
                </section>
            </section>
            <section class="der">
                <section class="bord1 espaciomedioder">
                    <h3 class="exp fuenteTitulo">EXPERIENCIA LABORAL</h3>
                      <h4>JOB POSITION</h4>
                          <P>COMPANY NAME 2020 | 2021 </span><br>
                               <p class=" fuenteTexto "> Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Ad nostrum, at expedita cum minus repudiandae voluptas eos, itaque temporibus aut architecto,
                               tempore sit accusamus. Modi?
                               </p>
                          </P>
                      <h4>JOB POSITION</h4>
                          <P>COMPANY NAME 2020 | 2021 </span><br>
                               <p class="bordeinf tex fuenteTexto"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                               Ad nostrum, at expedita cum minus repudiandae voluptas eos, itaque temporibus aut architecto,
                               tempore sit accusamus. Modi?
                               </p>
                          </P>                  
           </section>
           <section class="bord1 espaciomedioder">
                <h3 class="fuenteTitulo " >FORMACIÓN ACADÉMICA</h3> 
                <h4>MASTER DEGREE</h4>
                <p>  UNIVERSITY NAME 2020 | 2021 </span></p>
                <p class=" fuenteTexto "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorum natus sed! Tempore fugit voluptate </p> 
                <p>  UNIVERSITY NAME 2020 | 2021 </span></p>
                <p class=" fuenteTexto "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorum natus sed! Tempore fugit voluptate </p> 
                <br>
           </section>
            </section>
        </section> 
    </div>          
</body>
</html>