<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="estilo.css" rel="stylesheet">
    <title>hoja de vida </title>
</head>
<body>
    <h1>
        formato único persona natural
    </h1>
<h2>
    datos personales
</h2>
<p>
    <b>
    Castaño García Brian Heli
</b>
</p>
<p>
    c.c. 1004354575
</p>
<p>
    hombre, colombiano
</p>
<h2>
    perfil ocupacional 
</h2>
<p>
    estudiante de ingeniería de sistemas con cursos realizados de desarrollo web, formación 
en herramientas de ofimática, lectores de pantalla, y cuento con conocimientos para la 
implementación de la accesibilidad web; también participé en una conferencia de 
inteligencia artificial, la cual me permitió comprender una parte de cómo se lleva este 
proceso.
<br>

</p>
<p>
    Tengo curso en uso de tecnologías especializadas para personas con discapacidad visual, además 
de manejo de la herramienta de cálculo de Excel, y curso de administración deportiva
<br>
Soy una persona la cual me gusta estar alimentándome a diario de más conocimiento, para 
ponerlo en práctica en el momento que sea necesario
</p>
<h2>
    formación académica
</h2>
<p>
    <ul>
<li>

    Ingeniero de sistemas
Universidad del magdalena
2018- en curso
</li>
<li>
Bachiller 
Institución educativa Olga Gonzales a Rau, Cartagena, 2017
</li>
</ul>
</p>
<p>
    fecha de nacimiento: 14/09/2001
    Colombia, Santa Marta
</p>
    <footer>
        <h2>datos de contacto o:</h2>
			<ul>
				<li>
<a href="tel:573168541064"> - +(57) 316 854 1064 </a>
</li>
				<li><strong>Correo electrónico: _ </strong><a href="mailto:brianhelyc@gmail.com">brianhelyc@gmail.com</a></li>
			</ul>
		</address>
    </footer>

</body>
</html>