<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merca: ¿Quienes somos?</title>
    <link rel="stylesheet" href="css/stylehoja.css">
    <link rel="icon" href="img/general/BannerLogin.png">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!-- Header-->
    <header class="header">
        <div class="contenedor-header">
            <div class="back">
                <a href="#" onclick="goBack()" aria-label="back"><i class='bx bx-chevron-left icon-b'></i></a>
            </div>
            <div class="logo-text">
                <span class="logo"> <img src="img/logos/LogoMercaAroundFinal.png" alt="Logo Merca"></span>
                <span class="text"><img src="img/logos/LogoText.png" alt="texto del logo"></span>
            </div>
        </div>
    </header>

    <div class="sub-head">
        <div class="title">
            <span>¿QUIENES SOMOS?</span>
        </div>
    </div>
    <!-- Cuerpo-->
    <div class="cuerpo">
        <div class="contenedor-flex">
            <div class="contenedor-grid">
                <a href="hojasDeVida/hojaOmar/hojaOmar.html" target="_BLANK">
                    <div class="contenedor-hoja">
                        <div class="photo fondo-1">
                            <img src="img/pp/foto.omar.jpg" alt="foto hoja de vida">
                        </div>
                        <div class="name-rol">
                            <span>Omar Fandiño</span>
                            <p>Desarrollador Web</p>
                        </div>
                    </div>
                </a>
                <a href="hojasDeVida/hojaIsaac/hojaIsaac.html" target="_BLANK">
                    <div class="contenedor-hoja">
                        <div class="photo fondo-2">
                            <img src="img/pp/foto.isaac.jpg" alt="foto hoja de vida">
                        </div>
                        <div class="name-rol">
                            <span>Isaac Mejía</span>
                            <p>Desarrollador Web</p>
                        </div>
                    </div>
                </a>
                <a href="hojasDeVida/hojaBrian/hojaBrian.html" target="_BLANK">
                    <div class="contenedor-hoja">
                        <div class="photo fondo-3">
                            <img src="img/pp/foto.brian.jpg" alt="foto hoja de vida">
                        </div>
                        <div class="name-rol">
                            <span>Brian Castaño</span>
                            <p>Desarrollador Web</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script src="js/appfunctions.js"></script>
</body>

</html>