<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/stylejuego.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Merca: Memorama</title>
    <link rel="icon" href="img/general/BannerLogin.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <div class="contenedor-header">
            <div class="back">
                <a href="#" onclick="goBack()" aria-label="back"><i class='bx bx-chevron-left icon-b'></i></a>
            </div>
            <div class="logo-text">
               <span class="logo"> <img src="img/logos/LogoMercaAroundFinal.png" alt="Logo Merca"></span>
               <span class="text"><img src="img/logos/LogoText.png" alt="texto del logo"></span>
            </div>
        </div>
    </header>
    <section class="cuerpo">
        <span class="title">MEMORAMA</span>
        <div id="tablero">
        </div>

        <br>

        <div class="nuevo-juego" onclick="generarTablero()">
            Jugar
        </div>
    </section>


    <!-- JS -->
    <script src="js/appjuego.js"></script>
    <script src="js/appfunctions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.2.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://kit.fontawesome.com/49a8e0d560.js" crossorigin="anonymous"></script>
</body>
</html>
